body {
    background-color: black;
    color: white;
    font-family: 'Poppins', sans-serif;
}
#navbar{
    background-color: black;
    width: 100%;
    position: relative;
}

/* Bande jaune en bas */
#navbar::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -7px;
    width: 100%;
    height: 7px;
    background-color: yellow;
    box-shadow: 0px 0px 3px 0px yellow;
}

/* Liens du menu */
#navbarNav ul li a{
    color: white;
    padding: 8px 15px;
    border-radius: 4px;
    text-decoration: none;
    transition: all 0.3s ease;
    margin-right: 20px;
    font-family: 'Poppins', sans-serif;
}

/* Hover liens */
#navbarNav ul li a:hover{
    background-color: yellow;
    color: black;
    border-radius: 50px;
}

/* Titre navbar */
#navbar_title span{
    color: white;
    padding: 6px 12px;
    border-radius: 4px;
    transition: all 0.3s ease;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}
